nav{
    border-bottom: 1px solid black;
}
#navbar {
    list-style: none;
    text-align: center;
}

#navbar li{
    display: inline-block;
    margin: 5px  25px;
}


#headshot {
    width: 200%;
    max-width: 200px;
    border-radius: 50%;

}


header {
    background-image: url("images/pburgh.jpg");
    background-size: cover;
    height: 875px;
}

#intro {
    padding-top: 20%;
    text-align: center;
    text-shadow: 2px 4px 4px black;
    color: white;
}