nav{
    border-bottom: 1px solid black;
}
#navbar {
    list-style: none;
    text-align: center;
}

#navbar li{
    display: inline-block;
    margin: 5px  25px;
}
#navbar li:hover{
    color: white;
}

#headshot {
    width: 200%;
    max-width: 200px;
    border-radius: 50%;

}


header {
    background-image: url("images/pburgh.jpg");
    background-size: cover;
    height: 100vh;
}

#intro {
    padding-top: 20%;
    text-align: center;
    text-shadow: 2px 4px 4px black;
    color: white;
}
body {
    background-color:#282828;
}

#about{
    margin-top: 50px;
}

#about h2{
    color: white;
    text-decoration: underline;
    text-decoration-color: rebeccapurple;
    text-underline-position: under;
}
#about p{
    color: white;
}